{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    {% if title %}
    <title>The-Gram - {{ title }}</title>
    {% else %}
    <title>The-Gram</title>
    {% endif %}

    {% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">
    {% endblock %}



</head>

<body>
    {% include "navbar.html" %} <br>
    <hr>




    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">

                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-{{message.tags}}">
                    {{ message }}
                </div>


                {% endfor %}
                {% endif %}


                {% block content %}{% endblock %}

            </div>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</body>

</html>